body {
  margin-top: 100px !important;
  color: #172A3A;
}

.navbar {
  min-height: 90px !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
  letter-spacing: 0.04em;
  color: #172A3A;
}

h1 {
      font-size: 1.7em;
}

/* links */

a:active, 
a:focus, 
a:hover {
  color: #3C9DC3;
}

/* nav */

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
	color: #FFFFFF;
}

.navbar {
  box-shadow: none;
  /*text-transform: uppercase;*/
	letter-spacing: .1em;
	font-size: 1.2em;
	font-weight: 600;
}

.navbar-brand {
  text-transform: uppercase;
  font-family: "Staatliches";
  font-weight: 700;
	letter-spacing: .1em;
		font-size: 1.9em;
}

/*----NAV LINK HOVER ANIMATION -----*/
/* from Desiree: https://github.com/dcossyleon/blogdown_desiree/blob/master/assets/scss/custom.scss */

/* stroke */

.navbar-nav a.nav-link,
.navbar-nav a.nav-link:after,
.navbar-nav a.nav-link:before {
  transition: all .5s;
}

.navbar-nav a.nav-link {
  position: relative;
}

.navbar-nav a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.'; /* make invisible, dot beneath links */
  color: transparent;
  background: #BB342F; /* navbar link underline color */
  height: 2px;
}

.navbar-nav a.nav-link:hover:after {
  width: 80%;
}